.star{
    position:absolute;
    width:2px;
    height:2px;
    background:white;
    border-radius:50%;
    opacity:.8;
    animation:twinkle 3s infinite ease-in-out;
}

.star.big{
    width:4px;
    height:4px;
}

@keyframes twinkle{

    0%{
        opacity:.2;
        transform:scale(.8);
    }

    50%{
        opacity:1;
        transform:scale(1.4);
    }

    100%{
        opacity:.2;
        transform:scale(.8);
    }

}