margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;
overflow:hidden;

display:flex;
justify-content:center;
align-items:center;

font-family:Poppins,sans-serif;

color:white;

background:

radial-gradient(circle at top,#3b185f,#090022 50%,#000);

:absolute;

width:100%;
height:100%;

background-image:

radial-gradient(white 1px,transparent 1px);

background-size:80px 80px;

animation:mover 20s linear infinite;

}



@keyframes mover{

from{

transform:translateY(0);

}

to{

transform:translateY(-100px);

}

}



.inicio{

text-align:center;

z-index:2;

animation:entrada 2s;

}


h1{

font-size:45px;

text-shadow:0 0 20px #ff9bd2;

}


p{

font-size:18px;

margin:20px;

}



button{

padding:15px 35px;

border:0;

border-radius:40px;

background:#ff8fcf;

color:white;

font-size:18px;

cursor:pointer;

box-shadow:0 0 20px #ff8fcf;

animation:pulse 2s infinite;

}



.espacio{

display:none;

text-align:center;

z-index:3;

}



.capsula{

width:170px;

height:230px;

cursor:pointer;

position:relative;

animation:flotar 3s infinite;

}



.capsulaCuerpo{

height:180px;

background:

linear-gradient(90deg,#777,#ddd,#777);

border-radius:80px;

font-size:70px;

display:flex;

align-items:center;

justify-content:center;

box-shadow:0 0 40px #fff;

}



.tapaCapsula{

height:50px;

background:#aaa;

border-radius:80px 80px 0 0;

}



.capsula.abierta{

animation:abrir 1s forwards;

}



.carta{

display:none;

position:absolute;

width:85%;

max-width:550px;

max-height:80vh;

overflow:auto;

padding:35px;

border-radius:25px;


background:

linear-gradient(
135deg,
rgba(30,10,70,.95),
rgba(5,20,60,.95)
);


box-shadow:

0 0 40px #ff8fcf;


animation:aparecer 1.5s;


}



.carta h2{

color:#ffb6dc;

margin-bottom:20px;

}



.corazon{

position:absolute;
font-size:25px;

animation:subir 5s linear forwards;

}



@keyframes subir{

to{

transform:translateY(-700px);

opacity:0;

}

}



@keyframes flotar{

50%{

transform:translateY(-20px);

}

}



@keyframes entrada{

from{

opacity:0;

transform:translateY(50px);

}

}



@keyframes aparecer{

from{

opacity:0;

transform:scale(.5);

}

}



@keyframes pulse{

50%{

transform:scale(1.05);

}

}